data.zip

# Ignore the entire data folder EXCEPT the empty placeholder file
data/*
__pycache__/*
*.pyc
forked-sydney222-csinet/
*.txt
!requirements.txt
*.pdf
unused_data/*
unused_forked-sydney222-csinet/*
models_*/*